/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}
/* top players styles */
.section-title{
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 12px;
}